#chat-screen {
    background-color: #abc1d1;
    height: 1100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;/* 화면에서 안보이는 경우에 설정하는 법 */
}

#chat-screen .status-bar {
    z-index: 2;
}
/* z-index는 layer의 순서를 나타냄 (큰 값이 가장 위쪽에 존재) */

#chat-screen .alt-header {
    top: 10px;
    z-index: 1;
}

.main-chat {
    margin-top: 150px;
}